* {
    background-color: white;
    margin: 0;
    padding: 0;
}


.logo img{
    width: 90px;
    height: 90px;

}

.logo{
    margin: 15px;
    float: left;
    
}

.menuOpcoes {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.menuOpcoes a {
    font-size: 25px;
    color: #f6422e;
    text-decoration: none;
    padding: 20px 20px;
}

.todosProdutos {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.todosProdutos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    max-width: 1000px;
    width: 100%;
    padding: 20px;
}

.produtos img{
    margin: 10px;
    width: 150px;
    height: 150px
}

.produtos {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

.produtos h4 {
    font-size: 1.2em;
    color: #f6422e;
    margin-bottom: 10px;
}

.produtos p {
    color: #f6422e;
    margin-bottom: 5px;
}

.quemsomos{
    margin-top: 20px;
    
}

.quemsomos h1{
    color: #f6422e;
    font-size: 40px;
    text-align: center;
}

.quemsomos h2{
    font-size: 20px;
    text-align: center;
    margin-top: 20px;

}

.minhascompras{
    margin-top: 20px;
    padding-left: 5px;
    
}

#opcoesPagamento{
    margin-top: 100px;
}

.ajuda{
    margin-top: 20px;
}

.ajuda h1{
    color: #f6422e;
    font-size: 40px;
    text-align: center;

}


.ajuda ul{
    margin-top: 30px;
    font-size: 20px;
    text-align: center;
    line-height: 1.5;
}

/* Estilo para os botões "Adicionar ao carrinho", "Remover" e "Comprar" */
button {
    background-color: #f6422e;  /* Fundo vermelho */
    color: white;               /* Texto branco */
    border: none;               /* Remover borda */
    padding: 10px 20px;         /* Espaçamento interno */
    border-radius: 5px;         /* Borda arredondada */
    cursor: pointer;            /* Cursor de mão */
    font-size: 16px;            /* Tamanho do texto */
    transition: background-color 0.3s;  /* Efeito de transição suave */
}

/* Efeito hover para os botões */
button:hover {
    background-color: #d1301d;  /* Fundo mais escuro no hover */
}

.minhascompras{
    margin-top: 35px;
    text-align: center;
    line-height: 2;
}

.minhascompras h2{
    text-align: center;
    color: #f6422e;
    font-size: 40px;
}



#opcoesPagamento{
    margin-top: 35px;
    text-align: center;
    line-height: 2;
}

#opcoesPagamento h3{
    color:#f6422e;
    font-size: 30px;
}

#opcoesPagamento label{
    font-size: 25px;
    margin: 20px;
}



